<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @document.nombre %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @document.clave %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @document.fecha %>
</p>

<p>
  <strong>Person:</strong>
  <%= link_to @document.person.nombre, @document.person %>
</p>

<p>
  <strong>Document type:</strong>
  <%= link_to @document.document_type.nombre, @document.document_type %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
